<h1><%= pluralize(@cars.size, 'Car') %></h1>

<% @cars.each do |car| %>
	<article>
			<header>
				<%= image_tag(car.image_file_name) %>
				<%= image_for(car) %>

				<h2><%= link_to car.title, car_path(car) %></h2>
			</header>

			<p>
				<%= truncate(car.description, length: 40, separator: ' ') %>
			</p>

			<table>
				<tr>
					<th>Features:</th>
					<td><%= car.features %></td>
				</tr>

				<tr>
					<th>Daily Rate</th>
					<td><%= number_to_currency(car.daily_rate, :unit => "R") %></td> 
				</tr>
			</table>
	</article>
<% end %>
	<%= link_to "Add New Car", new_car_path(@car) %>
