<article>
	<header>
		<h1><%= @car.title %></h1>
	</header>

	<h2>Description</h2>
	<p>
		<%= @car.description %>
	</p>

	<h3>Features</h3>
	<p>
		<%= @car.features %>
	</p>

	<h3>Daily Rate</h3>
	<p>
		<%= number_to_currency(@car.daily_rate, unit: "R") %>
	</p>

	<h3>Image</h3>
	<%= image_for(@car) %>
	
</article>

<footer>
	<%= link_to "Write Review", new_car_review_path(@car), 
								class: 'button ok review' %>
	<%= link_to "All Cars", cars_path %>
	<%= link_to "Edit", edit_car_path(@car) %>
	<%= link_to "Delete", car_path(@car), method: :delete, data: {confirm: 'Are you sure?'} %>
</footer>
