<!DOCTYPE html>
<html>
<head>
  <title>CarBookings</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header style="padding: 5px; color: #F0F0F0: background: #7CFC00:">
		<h1>Fern Funerals</h1>
	</header>
	<aside style="float: right; background: #F0F0F0; width: 200px;">
		<nav>
			<ul>
				<li>
					<%= link_to 'All Cars', cars_path %>
				</li>
				<li>
					<%= link_to 'Add New Car', new_car_path %>
				</li>

				<p>
					<%= link_to 'Sign Up', signup_path, class: 'button' %>
				</p>
			</ul>
			<div id="wrapper">
				<% if flash[:notice] %>
					<p class="flash notice">
						<%= flash[:notice] %>
					</p>
				<% end %>
			</div id="container">
			<% if flash[:alert] %>
				<p class="flash alert">
					<%= flash[:alert] %>
				</p>
			<% end %>
		</nav>
	</aside>

<%= yield %>

<footer style="text-align: center; padding: 5px; color: #7CFC00; background: #F0F0F0">
	Copyright &copy; 2015
	<%= link_to 'Fern Funerals cc','http://fernfunerals.com' %>
</footer>
</body>
</html>
